@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/**
 * Default theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
@font-face {
	font-family: 'League Gothic';
	src: url("../../lib/font/league_gothic-webfont.eot");
	src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
	background: #add9e4;
	background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #add9e4));
	background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background-color: #f7fbfc;
}

.reveal {
	font-family: "Lato", Times, "Times New Roman", serif;
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	color: black;
}

::selection {
	color: white;
	text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: 0 0 20px 0;
	color: black;
	font-family: "League Gothic", Impact, sans-serif;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal h1 {
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
	color: #3b759e;
	text-decoration: none;
	-webkit-transition: color .15s ease;
	-moz-transition: color .15s ease;
	-ms-transition: color .15s ease;
	-o-transition: color .15s ease;
	transition: color .15s ease;
}

.reveal a:not(.image):hover {
	color: #74a7cb;
	text-shadow: none;
	border: none;
}

.reveal .roll span:after {
	color: #fff;
	background: #264c66;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
	margin: 15px 0px;
	padding: 10px;
	background: white;
	border: 4px solid #333333;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.reveal a:hover img {
	background: rgba(255, 255, 255, 0.2);
	border-color: #3b759e;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
	border-right-color: #3b759e;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
	border-left-color: #3b759e;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
	border-bottom-color: #3b759e;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
	border-top-color: #3b759e;
}

.reveal .controls div.navigate-left.enabled:hover {
	border-right-color: #74a7cb;
}

.reveal .controls div.navigate-right.enabled:hover {
	border-left-color: #74a7cb;
}

.reveal .controls div.navigate-up.enabled:hover {
	border-bottom-color: #74a7cb;
}

.reveal .controls div.navigate-down.enabled:hover {
	border-top-color: #74a7cb;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
	background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
	background: #3b759e;
	-webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * Other Styles
 *********************************************/
.reveal table {
	width: 100%;
}

.reveal table td {
	width: 50%;
}

.reveal table td pre {
	margin: 0.1em;
	width: 95%;
}

.reveal .description {
	background: rgba(255, 255, 255, 0.8);
	text-align: left;
	padding: 0.25em;
}

.reveal .description h4 {
	margin-top: 0.75em;
}

.reveal .description h4:first-child {
	margin-top: 0.25em;
}

.reveal .arguments {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	font-family: monospace;
	font-size: 0.55em;
	padding-left: 0.5em;
}

.reveal img.icon {
	height: 1.75em;
	margin-top: 0;
}

.reveal section > img {
	max-height: 400px;
}

.reveal dt {
	font-weight: bold;
}

.reveal table {
	border-collapse: collapse;
}

.reveal thead > tr {
	border-bottom: 0.1em solid rgba(0, 0, 0, 0.4);
}

.reveal thead > tr > th {
	margin: 0 0 20px 0;
	color: black;
	font-family: "League Gothic", Impact, sans-serif;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.reveal section > header {
	position: relative;
	top: -10em;
}

.reveal .output {
	background: #3F3F3F;
	color: white;
	padding-top: 1em;
	padding-left: 1em;
}